<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-orange-200 to-amber-200 p-3">
    <span class="text-xl font-semibold text-orange-600">Org 平台</span>
    <div class="flex justify-end w-auto">
        <a href="/login"
           class="antialiased border border-amber-600 text-amber-600 text-base hover:bg-amber-600 hover:text-amber-50 active:bg-amber-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="container mx-auto justify-center items-center m-10 lg:w-8/12 w-11/12">
    <div class="flex grid box-border rounded-3xl bg-purple-50 hover:shadow-xl shadow-lg shadow-purple-50s duration-300 p-6">
        <span class="m-5 antialiased tracking-widest text-purple-800 text-3xl text-center font-medium">考试系统</span>
        <form method="post" action="/examine_check">
            <input type="hidden" name="ticket_size" value="{{examines.len()}}">
            {% for examine in examines %}
            <div class="m-5 text-base text-purple-900">
                <span class="mb-2">{{examine.problem}}</span>
                <div class="mb-2 grid grid-cols-1">
                    {% for answer in examine.answers %}
                    <label class="p-3">
                        <input class="ring-2 ring-purple-300 ring-offset-2 w-3 h-3 hover:bg-purple-200 checked:bg-purple-500 checked:border-purple-300 focus:outline-none rounded-full duration-300 appearance-none"
                               name="examine_{{examine.id}}" value="{{loop.index}}" type="radio" {% if loop.index == 1 %} checked {% endif %}/>
                        <span class="p-2 text-pretty">{{answer}}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="m-5 flex justify-center container mx-auto text-center">
                <button class="m-2 antialiased border border-purple-600 text-purple-600 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-8 py-1 drop-shadow-md duration-300">
                    提交
                </button>
                <a href="/" class="m-2 inline-block antialiased border border-purple-600 text-purple-600 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-8 py-1 drop-shadow-md duration-300">
                    首页
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>