<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-purple-200 to-violet-200 p-3">
    <span class="text-xl font-semibold text-purple-600">Org 平台</span>
    <div class="flex justify-end w-auto">
        <a href="#" onclick="link('/login')"
           class="border bg-violet-500 border-violet-500 text-violet-50 text-base hover:bg-violet-600 hover:text-violet-50 active:bg-violet-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="container mx-auto justify-center items-center m-10 lg:w-8/12 w-11/12">
    <div class="flex grid box-border rounded-3xl bg-purple-50 hover:shadow-xl shadow-lg shadow-purple-50s duration-300 p-6">
        <span class="m-5 tracking-widest text-purple-800 text-3xl text-center font-medium">考题配置</span>
        <form id="update_examine">
            <label class="my-3 flex justify-center item-center">
                <textarea name="problem" rows="4"
                          class="my-2 text-purple-900 outline-none rounded bg-white border-solid border-inherit
                       hover:border-none active:border-solid
                       shadow hover:shadow-md duration-300 min-h-20 p-3 w-full">{{examine.problem}}</textarea>
            </label>
            <div id="list_answers" class="grid grid-cols-1 flex space-y-5">
                {% for answer in examine.answers.0 %}
                <label class="flex justify-center items-center">
                    <input type="checkbox" id="answer_{{loop.index}}"
                           name="correct_answer"
                           value="{{loop.index}}"
                           class="my-1 ring-2 ring-purple-300 ring-offset-2 w-3 h-3
                checked:bg-purple-500 checked:border-purple-300
                hover:bg-purple-400 focus:outline-none rounded duration-300 appearance-none"
                           {% if correct_answer[loop.index0].eq(loop.index.to_string().as_str()) %} checked {% endif %}>
                    <input name="answers" value="{{answer}}"
                           class="mx-2 text-purple-900 outline-none rounded-full bg-white border-solid border-inherit
                       hover:border-none active:border-solid
                       shadow hover:shadow-md duration-300 w-11/12 h-10 px-3">
                    <button onclick="deleteParent(this)" class="tracking-widest font-bold
                    bg-red-500
                    hover:bg-red-400
                    active:bg-red-600
                    bg-fixed rounded-full text-slate-50 w-5 h-5 drop-shadow-md duration-300">
                    </button>
                </label>
                {% endfor %}
            </div>
            <div class="m-5 flex justify-center text-center">
                <button type="button" onclick="addNewLabel()"
                        class="m-3 border bg-green-500 border-green-500 text-green-50 text-base hover:bg-green-600 hover:text-green-50 active:bg-green-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
                    添加
                </button>
                <button type="button" onclick="update({{examine.id}}, {{examine.paper_id}})"
                        class="my-3 border bg-purple-500 border-purple-500 text-purple-50 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
                    提交
                </button>
                <a href="#" onclick="paper()"
                   class="m-3 border bg-red-500 border-red-500 text-red-50 text-base hover:bg-red-600 hover:text-red-50 active:bg-red-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
                    返回
                </a>
            </div>
        </form>
    </div>
</div>
<script>
    function auth_url(url) {
        const params = new URLSearchParams()
        params.append('user', sessionStorage.getItem('user'))
        params.append('token', sessionStorage.getItem('token'))
        return url + `?${params.toString()}`

    }

    function link(url) {
        const urlWithParams = auth_url(url)
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }

    function logout() {
        sessionStorage.removeItem('user')
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('union_id')
        const urlWithParams = auth_url('/logout')
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }
</script>
<script>
    function paper() {
        const params = new URLSearchParams();
        params.append('user', sessionStorage.getItem('user'));
        params.append('token', sessionStorage.getItem('token'));

        const union_id = sessionStorage.getItem('union_id')
        const url = '/paper/' + union_id
        const urlWithParams = url + `?${params.toString()}`;
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }

    function addNewLabel() {
        // 获取要添加新元素的目标 div
        const targetDiv = document.getElementById("list_answers")
        const labelCount = targetDiv.querySelectorAll('label').length

        // 创建一个新的 label 元素
        const newLabel = document.createElement("label")
        newLabel.className = "flex justify-center items-center"

        const newCheckbox = document.createElement("input")
        newCheckbox.type = "checkbox"
        newCheckbox.id = "answer_" + (labelCount + 1).toString()
        newCheckbox.name = "correct_answer"
        newCheckbox.className = "my-1 ring-2 ring-purple-300 ring-offset-2 w-3 h-3 checked:bg-purple-500 checked:border-purple-300 hover:bg-purple-400 focus:outline-none rounded duration-300 appearance-none"
        newCheckbox.value = (labelCount + 1).toString()

        // 创建一个新的 input 元素
        const newInput = document.createElement("input")
        newInput.name = "answers"
        newInput.className = "mx-2 text-purple-900 outline-none rounded-full bg-white border-solid border-inherit hover:border-none active:border-solid shadow hover:shadow-md duration-300 w-11/12 h-10 px-3"
        newInput.placeholder = "输入内容"

        // 创建一个新的 button 元素
        const newButton = document.createElement("button")
        newButton.className = "tracking-widest font-bold bg-red-500 hover:bg-red-400 active:bg-red-600 bg-fixed rounded-full text-slate-50 w-5 h-5 drop-shadow-md duration-300"
        newButton.onclick = function () {
            this.parentNode.remove()
        }

        // 将 input 和 button 添加到 label 元素内部
        newLabel.appendChild(newCheckbox)
        newLabel.appendChild(newInput)
        newLabel.appendChild(newButton)

        // 将新元素添加到目标 div 内部
        targetDiv.appendChild(newLabel)
    }

    function deleteParent(element) {
        // 获取要删除的父级 label 元素
        const parentLabel = element.parentNode

        // 删除父级 label 中的所有子元素
        while (parentLabel.firstChild) {
            parentLabel.removeChild(parentLabel.firstChild)
        }
    }

    function update(id, paper_id) {
        const problem = document.getElementsByName("problem")[0].value
        const answers = document.getElementsByName("answers")
        const correct_answer = document.getElementsByName("correct_answer")
        const answers_array = []
        const correct_answer_array = []
        answers.forEach((value) => {
            answers_array.push(value.value)
        })
        correct_answer.forEach(value => {
            if (value.checked) {
                correct_answer_array.push(value.value)
            }
        })
        const jsonData = JSON.stringify({
            id,
            problem,
            answers: answers_array,
            correct_answer: correct_answer_array,
            problem_type: 2,
            paper_id
        })
        console.log(jsonData)
        fetch(auth_url('/update_examine'), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        }).then(response => {
            // 在这里处理服务器返回的响应
            console.log('服务器返回的响应:', response)
            window.location.reload()
        }).catch(error => {
            // 在这里处理发送请求的错误
            console.error('发送请求时出错:', error)
        })
    }
</script>
</body>
</html>