<!DOCTYPE html>
<html lang="zh">
<head>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 在页面加载前触发的逻辑
            if (sessionStorage.getItem('token') === null) {
                return window.location.href = '/login';
            }
        });
    </script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-orange-200 to-amber-200 p-3">
    <span class="text-xl font-semibold text-orange-600">Org 平台</span>
    <div class="flex justify-end w-auto">
        <a href="/login"
           class="antialiased border border-amber-600 text-amber-600 text-base hover:bg-amber-600 hover:text-amber-50 active:bg-amber-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="container mx-auto justify-center items-center m-10 lg:w-8/12 w-11/12">
    <div class="flex grid box-border rounded-3xl bg-purple-50 hover:shadow-xl shadow-lg shadow-purple-50s duration-300 p-6">
        <span class="m-5 antialiased tracking-widest text-purple-800 text-3xl text-center font-medium">考卷新增</span>

        <div class="m-5 flex justify-center text-center">
            <a href="/templates/public" class="antialiased w-48 border border-purple-600 text-purple-600 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
                返回
            </a>
        </div>
    </div>
</div>
</body>
</html>