<!DOCTYPE html>
<html lang="zh">
<head>
    <script>
        const to_login = document.getElementById("to_login")
        const newA = document.createElement("a")
        newA.className = "border bg-violet-500 border-violet-500 text-violet-50 text-base hover:bg-violet-600 hover:text-violet-50 active:bg-violet-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300"
        if (sessionStorage.getItem("token").length < 1){
            newA.text = "登出"
            newA.onclick = function () {
                logout()
            }
        } else {
            newA.text = "登录"
            newA.onclick = function () {
                link("/login")
            }
        }
        to_login.appendChild(newA)

    </script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-purple-200 to-violet-200 p-3">
    <span class="text-xl font-semibold text-purple-600">Org 平台</span>
    <div class="flex justify-end w-auto" id="to_login">
        <a href="#" onclick="link('/login')"
           class="border bg-violet-500 border-violet-500 text-violet-50 text-base hover:bg-violet-600 hover:text-violet-50 active:bg-violet-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="container mx-auto flex justify-center items-center grid md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-12 m-10 lg:w-8/12 w-11/12">
    <a href="#" onclick="link('/examine_start')">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">考试系统</span>
        </div>
    </a>
    <a href="#" onclick="paper()">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-violet-100 to-purple-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">考卷管理</span>
        </div>
    </a>
    <a href="#" onclick="link('/list_union')">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">联盟列表</span>
        </div>
    </a>
    <a href="#" onclick="logout()">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-violet-100 to-purple-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">退出登录</span>
        </div>
    </a>
</div>
</body>
<script>
    function auth_url(url) {
        const params = new URLSearchParams()
        params.append('user', sessionStorage.getItem('user'))
        params.append('token', sessionStorage.getItem('token'))
        return url + `?${params.toString()}`

    }
    function link(url) {
        const urlWithParams = auth_url(url)
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }
    function logout() {
        sessionStorage.removeItem('user')
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('union_id')
        const urlWithParams = auth_url('/logout')
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }

    function paper() {
        const params = new URLSearchParams();
        params.append('user', sessionStorage.getItem('user'));
        params.append('token', sessionStorage.getItem('token'));

        const union_id = sessionStorage.getItem('union_id')
        const url = '/paper/' + union_id
        const urlWithParams = url + `?${params.toString()}`;
        console.log(urlWithParams)
        window.location.href = urlWithParams
    }
</script>
</html>