<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-purple-200 to-violet-200 p-3">
    <span class="text-xl font-semibold text-purple-600">Org 平台</span>
    <div class="flex justify-end w-auto">
        <a href="/login"
                class="border bg-violet-500 border-violet-500 text-violet-50 text-base hover:bg-violet-600 hover:text-violet-50 active:bg-violet-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="container mx-auto flex justify-center items-center grid md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-12 m-10 lg:w-8/12 w-11/12">
    <a href="/examine_start">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">考试系统</span>
        </div>
    </a>
    <a href="#" onclick="paper()">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-violet-100 to-purple-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">考卷管理</span>
        </div>
    </a>
    <a href="/list_union">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">联盟列表</span>
        </div>
    </a>
    <a href="/logout" onclick="logout()">
        <div class="flex justify-center items-center box-border rounded-3xl bg-gradient-to-r from-violet-100 to-purple-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6 h-36">
            <span class="tracking-widest text-violet-600 text-4xl font-medium">退出登录</span>
        </div>
    </a>
</div>
</body>
<script>
    function paper() {
        const union_id = sessionStorage.getItem('union_id')
        const url = '/paper/' + union_id
        console.log(url)
        window.location.href = url
    }
    function logout() {
        sessionStorage.removeItem('token')
        window.location.href = '/login'
    }
</script>
</html>