<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ORG 管理系统 - {{title}}</title>
</head>
<body class="bg-slate-50">
<nav class="flex justify-between items-center bg-gradient-to-r from-purple-200 to-violet-200 p-3">
    <span class="text-xl font-semibold text-purple-600">Org 平台</span>
    <div class="flex justify-end w-auto">
        <a href="/login"
           class="border bg-violet-500 border-violet-500 text-violet-50 text-base hover:bg-violet-600 hover:text-violet-50 active:bg-violet-700 bg-fixed rounded-lg px-5 py-1 drop-shadow-md duration-300">
            登 录
        </a>
    </div>
</nav>
<div class="box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-3 m-5">
    <label>
        <input class="text-purple-900 outline-none rounded-full bg-white border-solid border-inherit hover:border-none active:border-solid shadow hover:shadow-md duration-300 w-full h-10 px-3"
               id="union_name" name="union_name" type="text"/>
    </label>
    <button class="my-3 border bg-purple-500 border-purple-500 text-purple-50 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-8 py-1 drop-shadow-md duration-300"
            onclick="">
        新增
    </button>
    <a href="/"
       class="m-2 inline-block border bg-purple-500 border-purple-500 text-purple-50 text-base hover:bg-purple-600 hover:text-purple-50 active:bg-purple-700 bg-fixed rounded-lg px-8 py-1 drop-shadow-md duration-300">
        首页
    </a>
</div>
<div class="flex justify-center items-center grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-5 m-5">
    {% for union in unions %}
    <button onclick="">
        <div class="box-border rounded-3xl bg-gradient-to-r from-purple-100 to-violet-100 hover:shadow-xl shadow-lg shadow-zinc-50s duration-300 p-6">
            <p class="tracking-widest text-violet-600 text-xl font-medium">{{union.name}}</p>
            <p class="text-violet-900 text-base">创建时间：{{union.create_time}}</p>
        </div>
    </button>
    {% endfor %}
</div>
</body>
<script>
    function logout() {
        sessionStorage.removeItem('token')
        window.location.href = '/login'
    }

    function insert() {
        const paperTitleInput = document.getElementById('paper_title')
        if (paperTitleInput instanceof HTMLInputElement) {
            const paperTitle = paperTitleInput.value
            const xhr = new XMLHttpRequest();

            xhr.open('POST', '/insert_paper', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            const data = JSON.stringify({
                id: 0,
                title: paperTitle,
                union_id: parseInt(sessionStorage.getItem('union_id'))
            });
            xhr.send(data);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    const responseData = JSON.parse(xhr.responseText);
                    if (xhr.status === 200) {
                        console.log('Insert successful!', responseData);
                        window.location.reload()
                    } else {
                        console.error('Insert failed:', xhr.responseText);
                        window.location.reload()
                    }
                }
            };
        }
    }

    function submit(paper_id, paper_title) {
        const form = document.createElement('form');
        form.method = 'post';
        form.action = '/list_paper_examines'; // 替换为你的目标 URL
        form.style.display = 'none'; // 隐藏表单

        // 添加数据字段
        const data1 = document.createElement('input');
        data1.type = 'number'
        data1.name = 'paper_id'; // 替换为你的数据字段名
        data1.value = paper_id; // 替换为你的数据

        const data2 = document.createElement('input');
        data2.type = 'hidden';
        data2.name = 'paper_title'; // 替换为你的数据字段名
        data2.value = paper_title; // 替换为你的数据

        // 添加到表单中
        form.appendChild(data1);
        form.appendChild(data2);

        // 添加到页面并提交
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>